.btn-primary {
    color: #fff;
    background-color: #ff6a00 !important;
    border-color: #ff6a00 !important;
}
.btn-outline-primary {
    color: #ff6a00;
    border-color: #ff6a00;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #ff6a00;
    border-color: #ff6a00;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #ff6a00;
    border-color: #ff6a00;
}
a{
    color: #212529;
    text-decoration: none;
    background-color: transparent;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #cc5500 !important;
    border-color: #bf5000 !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #d95a00 !important;
    border-color: #cc5500 !important;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 128, 38, 0.5) !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 128, 38, 0.5) !important;
}
.btn-primary:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 128, 38, 0.5) !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 128, 38, 0.5) !important;
}
.btn:focus, .btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.25) !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.25) !important;
}
.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
    color: #FFF !important;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-outline-warning:hover {
    color: #FFF !important;
    background-color: #ffc107;
    border-color: #ffc107;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0  !important;
}
.footer-bottom {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-top: 0px solid #fFF ;
}
a:hover {
    color: #ff6a00 !important;
    text-decoration: none;
}

@media screen and (min-width: 0px) {
      .logo{
          height: 100% !important;
          /*width: 100% !important;*/
      }
}

@media screen and (min-width: 767px) {
    .logo{
        height: 100px !important;
        /*width: 200px !important;*/
    }
}

@media screen and (min-width: 992px) {
    .logo{
        height: 100% !important;
        width: 100% !important;
    }
}